<ion-header color="primary">
  <ion-toolbar>
    <ion-item lines="none">
    <ion-icon size="large" slot="start" name="arrow-back-circle-outline"></ion-icon>

        <ion-label><h1>Notifications</h1></ion-label>
      </ion-item>
  </ion-toolbar>
</ion-header>

 <ion-content [fullscreen]="true">
   
   <ion-segment [(ngModel)]="selectTabs">
    <ion-segment-button value="stock">
      <ion-label ><b>stock</b>
        <ion-badge>3</ion-badge>
      </ion-label>
    </ion-segment-button>

    <ion-segment-button value="shifts">
      <ion-label><b>Shifts</b>
        <ion-badge>1</ion-badge>
      </ion-label>
    </ion-segment-button>

    <ion-segment-button value="suppliers">
      <ion-label><b>Suppliers</b>
        <ion-badge>2</ion-badge>
      </ion-label>
    </ion-segment-button>
    
  </ion-segment>

  
  <div *ngIf="selectTabs == 'stock'">
  <ion-list>
    <ion-item-sliding *ngFor="let notif of (notifications|async);">
      <ion-item *ngIf="notif.type=='Threshold'&&notif.exists==true">
        <ion-label class="ion-text-wrap">{{notif.description}}</ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="reorder(notif)">Reorder</ion-item-option>
        <ion-item-option color="danger" (click)="remove(notif)">Dismiss</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
   </ion-list>
  </div>
  <div *ngIf="selectTabs == 'shifts'">
    <ion-item-sliding *ngFor="let notif of (notifications|async);">
      <ion-item *ngIf="notif.type=='Schedule'&&notif.exists==true">
        <ion-label class="ion-text-wrap">{{notif.description}}</ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option>Approve</ion-item-option>
        <ion-item-option color="danger" (click)="reject(notif)">Reject</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </div>
  <div *ngIf="selectTabs == 'suppliers'">
    <ion-item-sliding *ngFor="let notif of (notifications|async);">
      <ion-item *ngIf="notif.type=='OrderStatus'&&notif.exists==true">
        <ion-label class="ion-text-wrap">{{notif.description}}</ion-label>
      </ion-item>
  
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="remove(notif)" expandable>Dismiss</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </div>

  




</ion-content>
