<style>
  @import url('https://fonts.googleapis.com/css2?family=Courgette&family=Poppins:wght@400;500;600;700&display=swap');
</style>

<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="1">
          <ion-button fill="none" (click)='previous()'>
            <ion-icon name="arrow-back-circle-outline" size="large" slot="start"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col offset="3" size="6" style="margin-top: 2.5%;">
          <ion-title style="font-size: 1.5rem; font-family: 'Courgette', cursive;">Orders</ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button style="margin:7% 25%;" color="forestgreen" routerLink="/create-order">
    Create New Order
    <ion-icon name="add"></ion-icon>
  </ion-button>

  <ion-segment (ionChange)="segmentChanged($event)" [(ngModel)]="selectTabs" color="forestgreen">
    <ion-segment-button value="orders">
      <ion-label>Order History</ion-label>
    </ion-segment-button>
    <ion-segment-button value="toBeOrdered">
      <ion-label>To Be Ordered</ion-label>
    </ion-segment-button>
    <ion-segment-button value="favs">
      <ion-label>Favs List</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="selectTabs == 'orders'">
    <ion-card *ngFor="let order of (orders|async)">
      <ion-card-header>
        <ion-button fill="clear" (click)="changeFav(order)">
          <ion-icon name={{favIcon}} ></ion-icon>
        </ion-button>
        <ion-card-title>Order {{order.orderNumber}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Items: {{order.items}}
        Supplier: {{order.Supplier}}
        Quantity: {{order.Quantity}}
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="selectTabs == 'toBeOrdered'">
    <ion-card *ngFor="let toOrder of (toBeOrdered|async)">
        <ion-card-header>
          <ion-card-title>{{toOrder.itemName}}</ion-card-title>
        </ion-card-header>
        <!-- <ion-card-content>
          Current available quantity: {{toBe.itemQuantity}}
        </ion-card-content> -->
    </ion-card>
  </div>

  <div *ngIf="selectTabs == 'favs'">
    <div *ngIf="favIcon == 'star'">
      <ion-card *ngFor="let fav of (favorites|async)">
        <ion-card-header>
          <ion-card-title>Order</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Items: {{fav.orderItems}}
          Supplier: {{fav.orderSupplier}}
          Quantity: {{fav.orderQuantity}}
        </ion-card-content>
      </ion-card>
    </div>
  </div>

</ion-content>