<style>
  @import url('https://fonts.googleapis.com/css2?family=Courgette&family=Poppins:wght@400;500;600;700&display=swap');
</style>

<ion-header [translucent]="true" class="ion-no-border">

  <div
    align="center"
    style="
      background-color: #95D5B2;
      height: 200px;
      border-bottom-left-radius: 50px;
      border-bottom-right-radius: 50px;
    "
    
  >

    <div style="padding-top: 50px">
      <ion-icon
        style="font-size: 7em; color: white"
        name="person-circle"
      ></ion-icon>
    </div>
  </div>
</ion-header>

<ion-content class="ion-padding"[fullscreen]="true">
  <br /><br />
  <br /><br />
     
        <ion-content class="ion-padding">


          <br /><br />
          <br /><br />

          <!-- View Details Form -->
          <ion-list>
            <ion-item [(ngModel)]="name" lines="inset" style="font-size: 1.5em">
              <ion-icon
                    size="large"
                    slot="start"
                    name="person-outline"
                  ></ion-icon>
              <ion-label class="labels">{{name}}</ion-label>
            </ion-item>

            <ion-item [(ngModel)]="gender" lines="inset" style="font-size: 1.5em">
              <ion-icon
                    size="large"
                    slot="start"
                    name="transgender-outline"
                  ></ion-icon>
              <ion-label class="labels">{{gender}} </ion-label>
            </ion-item>

             <ion-item [(ngModel)]="jobRole" lines="inset" style="font-size: 1.5em">
              <ion-icon
                    size="large"
                    slot="start"
                    name="bag-handle-outline"
                  ></ion-icon>
              <ion-label class="labels">{{jobRole}} </ion-label>
            </ion-item>

            <ion-item [(ngModel)]="cpr" lines="inset" style="font-size: 1.5em">
              <ion-icon
                    size="large"
                    slot="start"
                    name="id-card-outline"
                  ></ion-icon>
              <ion-label class="labels">{{cpr}} </ion-label>
            </ion-item>

            <ion-item [(ngModel)]="mobile" lines="inset" style="font-size: 1.5em">
              <ion-icon
                    size="large"
                    slot="start"
                    name="call-outline"
                  ></ion-icon>
              <ion-label class="labels">{{mobile}} </ion-label>
            </ion-item>

            <ion-item [(ngModel)]="email" lines="inset" style="font-size: 1.5em">
              <ion-icon
                    size="large"
                    slot="start"
                    name="mail-outline"
                  ></ion-icon>
              <ion-label class="labels">{{email}} </ion-label>
            </ion-item>
            
            
            

           <!-- <ion-item lines="inset" style="font-size: 1.5em">
              <ion-label class="labels">Category: </ion-label>
              <ion-input [(ngModel)]="Category"></ion-input>
            </ion-item>

            <ion-item lines="inset" style="font-size: 1.5em">
              <ion-label class="labels">Price: </ion-label>
              <ion-input [(ngModel)]="Price"></ion-input>
            </ion-item>

            <ion-item lines="inset" style="font-size: 1.5em">
              <ion-label class="labels">Quantity: </ion-label>
              <ion-input [(ngModel)]="Quantity"></ion-input>
            </ion-item>

            <ion-item lines="inset" style="font-size: 1.5em">
              <ion-label class="labels">Supplier: </ion-label>
              <ion-input [(ngModel)]="Supplier"></ion-input>
            </ion-item>

            <ion-item lines="inset" style="font-size: 1.5em">
              <ion-label class="labels">Threshold Qty: </ion-label>
              <ion-input [(ngModel)]="Threshold"></ion-input>
            </ion-item> -->
          </ion-list>
        </ion-content>
