<style>
  @import url('https://fonts.googleapis.com/css2?family=Courgette&family=Poppins:wght@400;500;600;700&display=swap');
</style>

<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="1">
          <ion-button fill="none" (click)='previous()'>
            <ion-icon name="arrow-back-circle-outline" size="large" slot="start"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col offset="3" size="6" style="margin-top: 2.5%;">
          <ion-title style="font-size: 1.5rem; font-family: 'Courgette', cursive;">Orders</ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-segment (ionChange)="segmentChanged($event)" [(ngModel)]="selectTabs" color="forestgreen">
    <ion-segment-button value="orders">
      <ion-label>Order History</ion-label>
    </ion-segment-button>
    <ion-segment-button value="toBeOrdered">
      <ion-label>Current Orders</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="selectTabs == 'orders'">
    <ion-card *ngFor="let order of (orders|async)">
      <div *ngIf="(order.Supplier==dataService.loggedSup.name )&&(order.status=='completed')">
      <ion-card-header>
        <ion-card-title>Order {{order.orderNumber}}</ion-card-title>
      </ion-card-header>
      <ion-card-content >
        Items: {{order.items}} <br>
        Supplier: {{order.Supplier}} <br>
        Quantity: {{order.Quantity}} <br>
        Status: {{order.status}}
      </ion-card-content>
    </div>
    </ion-card>
  </div>

  <div *ngIf="selectTabs == 'toBeOrdered'">
    <ion-card *ngFor="let order of (orders|async)">
      <div *ngIf="(order.Supplier==dataService.loggedSup.name )&&(order.status!=='completed')">
        <ion-card-header>
          <ion-card-title>Order {{order.orderNumber}}</ion-card-title>
        </ion-card-header>
        <ion-card-content >
          Items: {{order.items}} <br>
          Supplier: {{order.Supplier}} <br>
          Quantity: {{order.Quantity}} <br>
          Status:
          <ion-select [(ngModel)]="order.status"
          interface="popover"
        >
          <ion-select-option value="Waiting">Waiting</ion-select-option>
          <ion-select-option value="Processing"
            >Processing</ion-select-option
          >
          <ion-select-option value="Delivering"
            >Delivering</ion-select-option
          >
        <ion-select-option value="completed"
        >completed</ion-select-option
      >

    </ion-select>  
     <!-- {{order.status}} -->
        </ion-card-content>
        <ion-button (click)="saveStatus(order)" expand="block" fill="clear" shape="round">
          Save
        </ion-button>
      </div>
    </ion-card>
  </div>

</ion-content>