#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;

}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  // color: #8c8c8c;

  margin: 0;
}

.container{
  margin-top: 40%;
  // display: flex!important;
  // flex-direction: column;
  // justify-content: center!important;
  // margin-top: 6.5rem;
}

#container a {
  text-decoration: none;
}

// .mainButtons{
//   display: flex;
//   flex-direction: column;
// }

.signIn, .contact{
  width: 90%;
}

ion-content{
  // --ion-background-color: #5E8A77;
  --background: linear-gradient(to bottom right, #5c8c77, #456356);
}

ion-item {
  --background: none;
  color: mintcream;
}

.title{
  font-size: 35px;
  // margin: 2rem auto;
  margin: 2rem auto 2.5rem auto;

}

ion-header{
  color: #FFD8C0;
}

.cartIcon{
  color: #FFD8C0;
  scale: 600%;
}

.inputs{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1rem;
  margin-top: 13%;

}

.userIcon{
  margin-top: 0.75rem;
  border-right: 1px solid mintcream;
}
