<ion-header [translucent]="true" class="header">
  <!-- <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content [fullscreen]="true" class="content">

  <!-- <br><br><br> -->
  <div class="container">

    <div align="center">
      <ion-icon name="storefront" class="cartIcon"></ion-icon>
      <!-- <br><br><br> -->
      <ion-header class="title">Coldstore Name </ion-header>
    </div>

    <!-- <br><br> -->
    <div class="inputs">
      <!-- <ion-item>
        <ion-icon slot="start" name="at" class="userIcon" style="padding-right: 2px; border-right: 1px solid"></ion-icon>
        <span>
          <ion-label position="stacked">EMAIL</ion-label>
          <ion-input></ion-input>
        </span>
      </ion-item> -->

      <ion-item class="usernameInput" style="width: 90%">
        <ion-label position="stacked">E-MAIL:</ion-label>
        <!-- <ion-icon slot="start" name="at" class="userIcon"></ion-icon> -->
        <ion-input></ion-input>
      </ion-item>

      <ion-item class="passwordInput" style="width: 90%">
        <ion-label position="stacked">PASSWORD:</ion-label>
        <ion-item>
          <!-- <ion-icon name="lock-closed"></ion-icon> -->
          <ion-input></ion-input>
        </ion-item>
      </ion-item>
    </div>

    <br>
    <div align="center">
      <ion-label color="mintcream">Forgot Password?</ion-label>
    </div>
    <br><br>

    <div class="mainButtons" align="center">
      <ion-button style="width: 70%" class="signIn" color="silk" shape="round">Log In</ion-button>
      <ion-button style="width: 70%" class="contact" fill="outline" color="mintcream" shape="round">Contact Us
      </ion-button>
    </div>
  </div>

</ion-content>