<ion-header [translucent]="true" class="header"></ion-header>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
</style>


<ion-content [fullscreen]="true" class="content">

  <div class="container" style="margin-top: 30%;" #idk>


    <div align="center" >
      <ion-icon name="storefront" class="cartIcon"></ion-icon>
      <ion-header class="title" style="font-family: 'Patrick Hand', cursive;">Fatema Coldstore</ion-header>
    </div>

    <div class="inputs">
      <!-- <ion-item>
        <ion-icon slot="start" name="at" class="userIcon" style="padding-right: 2px; border-right: 1px solid"></ion-icon>
        <span>
          <ion-label position="stacked">EMAIL</ion-label>
          <ion-input></ion-input>
        </span>
      </ion-item> -->

      <ion-item class="usernameInput" style="width: 90%">
        <ion-label position="stacked">E-MAIL:</ion-label>
        <!-- <ion-icon slot="start" name="at" class="userIcon"></ion-icon> -->
        <ion-input [(ngModel)]="userName"></ion-input>
      </ion-item>

      <ion-item class="passwordInput" style="width: 90%">
        <ion-label type="password" position="stacked">PASSWORD:</ion-label>
        <ion-item>
          <!-- <ion-icon name="lock-closed"></ion-icon> -->
          <ion-input [(ngModel)]="password" type="password"></ion-input>
        </ion-item>
      </ion-item>
    </div>

    <br>
    <br><br>

    <div class="mainButtons" align="center">
      <ion-button style="width: 70%" class="signIn" color="silk" shape="round" (click)="SignIn()"  #button>Log In</ion-button>
      <ion-button style="width: 70%" class="contact" fill="outline" color="mintcream" shape="round">Contact Us
      </ion-button>
    </div>
  </div>



</ion-content>