ion-content{
    --ion-background-color:#FFFBF9;
}

ion-header{
    --ion-background-color: #B7E4C7;
}
 


.headline{
    background-color: #52B788;
}
.entry{
    height: 2.5em;
    padding: 2%;
}
.entry:nth-child(odd){
    
    background-color: #95D5B2;   
}

.entry:nth-child(even){
    
    background-color: #B7E4C7;   
}
// B7E4C7
// 74C69D
// 95D5B2
// .viewContent{
//     background-color: #d8f3dc;
// }


